@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
   text-align: center;
}
body {
   background-color: #79e4ff;
}

header {
   margin-top: 100px;
}

.app {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.pads {
   background: rgb(245, 255, 100);
   width: 100%;
   display: flex;
}
.pads > div {
   width: 100px;
   height: 100px;
   flex: 1;
   transition: 0.5s;
   cursor: pointer;
}

.pad1 {
   background-color: #db5461;
}
.pad2 {
   background-color: #686963;
}
.pad3 {
   background-color: #8aa29e;
}
.pad4 {
   background-color: #3d5467;
}
.pad5 {
   background-color: #71edee;
}
.pad6 {
   background-color: #ffc6ac;
}

.visual > div {
   position: absolute;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   bottom: 0%;
   left: 20%;
   z-index: -1;
}

@keyframes jump {
   0% {
      bottom: 0%;
      left: 20%;
   }
   50% {
      bottom: 50%;
      left: 50%;
   }
   100% {
      bottom: 0%;
      left: 80%;
   }
}

@keyframes scale {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(0.9);
   }
   100% {
      transform: scale(1);
   }
}
